<h2 class="mx-5">Sign up</h2>
<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs mx-5">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :username,
                required: true,
                input_html: { autocomplete: "username" } %>
    <%= f.input :pets,
                required: true,
                input_html: { autocomplete: "pets" } %>
    <%= f.input :address,
                required: true,
                input_html: { autocomplete: "address" } %>
    <%= f.input :photo,
                required: true, required: true,
                input_html: { autocomplete: "avatar" } %>
  </div>
  <div class="d-flex">
    <div class="form-actions">
      <%= f.button :submit, "Sign up", class: "btn btn-primary mx-5" %>
      <div class="btn btn-alert", style="color: white;">
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
