<div>
  <div class="background-image">
    <img src="https://hvhct.com/wp-content/uploads/2020/04/AdobeStock_75588923-scaled.jpeg" alt="background image" width=100%, height=400>
  </div>
  <div class="filter-banner mt-3 d-flex justify-content-between px-5">
    <div>
      <h2 class="fw-bold">Petsitters</h2>
      <% if params[:breed].present? || params[:location].present? %>
        <h5>Filters: <%= params[:breed] %>, <%= params[:location] %></h5>
      <% end %>
    </div>
    <div>
      <h5 class>Filters </h5>
      <%= form_with(url: petsitters_path, method: :get, local: true) do |f| %>
        <%= f.select :breed, options_for_select(@breeds, params[:breed]), { include_blank: 'Select a Breed' }, class: "form-select" %>
        <div class="row mt-2">
          <div class="col-8 pe-0">
            <%= f.text_field :location, value: params[:location], placeholder: "Enter location...", class: "form-control" %>
          </div>
          <div class="col-4">
            <%= f.submit "Search", class: "btn btn-primary w-100" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="row mt-3">
      <% @petsitters.each do |petsitter| %>
        <div class="col-3">
          <div class="petsitter-card">
            <div class="card-image">
              <%= link_to petsitter_path(petsitter) do %>
              <% if petsitter.photo.attached? %>
                <%= cl_image_tag(petsitter.photo.key, crop: :fill) %>
               <% else %>
               <p>You don't have an image</p>
              <% end %>
              <% end %>
            </div>
            <div class="card-info">
              <div class="username">
                <i class="fa-solid fa-user me-2"></i>
                <%= petsitter.user.username %>
              </div>
              <div class="username">
                <i class="fa-solid fa-star me-2"></i>
                <%= petsitter.average_rating %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
