<div>
  <div class="background-image">
    <img src="https://hvhct.com/wp-content/uploads/2020/04/AdobeStock_75588923-scaled.jpeg", alt="background image" width=100%, height=400>
  </div>

  <div class="filter-banner mt-3 d-flex justify-content-between">
    <div>
      <h2>Petsitters</h2>
    </div>
    <div>
      <h5>Filters</h5>
      <%= form_with model: @petsitter do |f| %>
        <%= f.select :breeds, options_for_select(@breeds, params[:breed]), { include_blank: 'Select a Breed' }, class: "form-control" %>
        <%= f.text_field :location, placeholder: "Enter location..." %>
        <%= f.submit "Search" %>
      <% end %>
    </div>
  </div>

  <div>
    <div class="row mt-3 bg-white">
      <% @petsitters.each do |petsitter| %>
        <div class="col-3 bg-white p-2">
          <a href="<%= petsitter_path(petsitter) %>">
            <%= image_tag petsitter.picture_url, class: "rounded" %>
          </a>
          <%= petsitter.user.username %>
        </div>
      <% end %>
    </div>
  </div>
</div>
