<div class='main-div'>

  <div class='banner-petsitter-display'>
    <%= image_tag @petsitter.picture_url if @petsitter.picture_url.present? %>
  </div>

  <div class='petsitter-info'>
    <h2>
      <%=  @petsitter.user.username %>
    </h2>
    <h3>
      <%= @petsitter.price %>€ / day
    </h3>
    <%= @petsitter.bio %>
  </div>

<% if @petsitter.user.id != current_user.id %>
  <div class='create-booking-form'>
    <%= render 'form_create_booking', user: @user, petsitter: @petsitter, booking: @booking %>
  </div>
<% else %>
  <div class='create-booking-form'>
    <p>You can't book yourself</p>
  </div>
<% end %>
</div>
