<%= @petsitter.picture_url %>
<%=  @petsitter.user.username %>
<h3><%= @petsitter.price %>€</h3>
<%= @petsitter.bio %>
<%= @petsitter.bookings.each do |booking| %>
  <%= booking.start_date %>
  <%= booking.end_date %>
<% end %>
#test
