<div class='main-div'>

  <div class='banner-petsitter-display'>
    <%= @petsitter.picture_url %>
  </div>

  <div class='petsitter-info'>
    <h2>
      <%=  @petsitter.user.username %>
    </h2>
    <h3>
      <%= @petsitter.price %>€ / day
    </h3>
    <%= @petsitter.bio %>
  </div>

  <div class='create-booking-form'>
    <%= render 'form_create_booking', user: @user, petsitter: @petsitter, booking: @booking %>
  </div>

</div>
